
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.env

# Docker-containerized MySQL server's data
db-data

# Server/Hosting service-specific .htaccess
.htaccess

# Server error log
error_log

# Public static files
/public_html/static/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
