FTP_HOST=
FTP_PORT=21
FTP_USER=
FTP_PASS=
SERVER_CERTIFICATE="-----BEGIN CERTIFICATE-----\nThe content of the server certificate, remember to replace all newlines with \n like that.\n-----END CERTIFICATE-----"
