version: '4.0'

# ATTENTION: When modifying values in this file, reflect the
# changes in <projectroot>/src/Command/RefreshEnvDockerCommand.php
# also.

services:

  rhyme-php-apache:
    container_name: rhyme-php-apache
    image: php:8.2-apache
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - rhyme-mysql
    volumes:
      - ./:/var/www
      - ./public:/var/www/html
    ports:
      - 8000:80
  
  rhyme-mysql:
    container_name: rhyme-mysql
    image: mysql
    restart: always
    volumes:
      - ./db-data:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: rhyme
      # MYSQL_USER: 
      # MYSQL_PASSWORD: 
    ports:
      - 9906:3306
